.container .TOP{
    background-color: #fffbf0;
}
.TOPHEIGHT{
    height: 600px;
}

.Women-Jacket img {
    height: 400px;
    padding: 50px;
    
}
.men-Jacket img {
    height: 400px;
    padding: 50px;
    
    
}
.btn{
    background-color: #8ba622;
    border: none;
    text-align: center;}
    .price{
        color: #fabe4c;
    }
    .BG-COLOR{
        background-color: #f1f1f1;}

     .card-border {
         border: 0;
     }   
     .card-border-footer{
         border: 0;
        background-color: unset;}
       

    .text-icon img{
           width: 110px;
           height: 100px;}
    .bottompart{
        height: 800px;
        margin-top: 200px;
    }
 .box{
     border: 0;
    
 }
 #icon{
     margin-left: 20px;
     margin-top: 5px;
 }
           
   

    


        
           
            
            
          
            
            
            
         
           
        
    
  